<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>SEO Helper - Admin Panel</title>
   <meta name="description"
         content="Admin page for your SEO Helper.">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
           crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
           integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
           crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
           integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
           crossorigin="anonymous"></script>
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!-- Datatables Scripts -->
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
   <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

   <!-- Datatables -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
         integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
   <style>
      .input-prompt {
         margin: 0 0 3px 0 !important;
      }

      .form-field {
         margin: 10px;
         margin-top: 25px;
         width: 100%;
      }

      .error_input {
         width: 20% !important;
         line-height: 10px !important;
         height: 30px !important;
         font-size: small !important;
         font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
      }

      .error-tag-template {
         margin: 0 5px;
         font-weight: bold;
         font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
      }

      td.html-tag {
         font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
         font-size: small;
      }

      .radio-container {
         box-sizing: border-box;
         font-family: ‘Open Sans’, sans-serif;
         font-size: 13px;
         line-height: 30px;
         margin: 0;
         outline: 0;
         overflow: hidden;
         padding: 0;
      }

      .radio-container input {
         width: auto !important;
         box-sizing: border-box;
         margin: 5px;
         outline: 0;
         padding: 0;
         position: relative;
         top: 3px;
         vertical-align: top;
      }

      .remove-icon {
         color: rgba(255, 0, 0, 0.84) !important;
         font-size: large;
         cursor: pointer !important;
      }
   </style>
</head>
<body>
<div class="header">
   <a href="/" class="logo">SEO Helper Admin Panel</a>
   <div class="header-right">
      <a href="/logout">Logout</a>
   </div>
</div>
<div class="page">
   <div class="container">
      <div class="content large">
         <h1>Manage</h1>
         <p>From here, you are able to make changes in the system by defining new SEO errors or deleting existing ones.</p>
         <div class="analysis-choice-wrapper">
            <h3>Add a new error for analysis:</h3>
            <div class="form-heading" style="margin-bottom: 10px;">
               <p style="display:inline">This tag can be a meta-tag or a plain HTML tag such as H2. </p>
            </div>
            <div class="form-body" style="display:block">
               <form id="new-err" method="POST" style="max-width: 66%;">
                  <div class="form-field">
                     <p class="input-prompt">Error Name</p>
                     <input id="error_name" type="text" name="name" placeholder="Missing OG Description">
                  </div>
                  <div class="form-field">
                     <p class="input-prompt">Error Description</p>
                     <textarea id="error_desc" name="description"
                               placeholder="This page's Open Graph Description is missing!"></textarea>
                  </div>
                  <div class="form-field">
                     <p class="input-prompt">If the tag does not have an attribute data, keep it empty.</p>
                     <div class="error-area" style="display:flex;flex-wrap: nowrap">
                        <p class="error-tag-template"> < </p>
                        <input class="error_input" id="error_tag" type="text" name="tag" style="margin-right:20px;"
                               placeholder="meta">
                        <input class="error_input" id="error_attribute" type="text" name="attribute"
                               placeholder="property">
                        <p class="error-tag-template"> = "</p>
                        <input class="error_input" id="error_attribute_value" type="text" placeholder="og:description"
                               name="description">
                        <p class="error-tag-template">" </p>
                        <p class="error-tag-template"> > </p>
                     </div>
                  </div>
                  <div class="form-field">
                     <p class="input-prompt">Do you want this tag to be checked for its existence or for duplicates?</p>
                     <div class="radio-container">
                        <input id="rd1" type="radio" name="content" value="*" checked="checked">Duplicates<br>
                        <input id="rd2" type="radio" name="content" value="">Missing<br>
                     </div>
                  </div>
                  <input type="submit" id="err-submit" class="btn btn-secondary" value="Add New Tag!">
               </form>
            </div>
            <p class="form-message" id="response_single"></p>
            <br>
            <h3>Delete an error:</h3>
            <div id="error-list-div">
               <table id="table_id" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                  <tr>
                     <th><i style="font-size:large;" class="fa fa-trash-o"></i></th>
                     <th>ID</th>
                     <th>Error Name</th>
                     <th>Tag</th>
                     <th>Error Description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                     <td>-</td>
                     <td>-</td>
                     <td>-</td>
                     <td>-</td>
                     <td>-</td>
                  </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
<script>
    $(function () {
        $('#new-err').on('submit', function (e) {
            e.preventDefault();
            let message = "";

            let err_name = $('#error_name').val();
            let err_desc = $('#error_desc').val();
            let err_tag = $('#error_tag').val();
            let err_attr = $('#error_attribute').val();
            let err_attr_value = $('#error_attribute_value').val();
            let err_content = $("input[name='content']:checked").val();

            if (err_name === "" || err_desc === "" || err_tag === "") {
                message = "Name, description and tag fields are mandatory!"
            } else {
                var req = null;
                message = "";
                let submitButton = $('#err-submit');
                let oldText = submitButton.val();
                req = $.ajax({
                    type: 'POST',
                    headers: {
                        'Auth-Key': '{{Auth_Key}}',
                        'Content-Type': 'application/json'
                    },
                    url: "{{ url_for('action_seo_errors') }}",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: err_name,
                        tag: err_tag,
                        attribute: err_attr,
                        value: err_attr_value,
                        content: err_content,
                        description: err_desc
                    }),
                    beforeSend: function () {
                        if (req != null) {
                            req.abort();
                        }
                        submitButton.val("");
                        submitButton.addClass("button_loading");
                        submitButton.attr("disabled", true);
                    },
                    success: function (data) {
                        $('#table_id').DataTable().destroy();
                        message = data['message'];
                        $('#response_single').text(message);
                        update_table();
                    },
                    error: function (xhr, status, error) {
                        console.log("shit's on fire yo.");
                        console.log(xhr, status, error);
                        $('#response_single').text(message);
                    },
                    complete: function () {
                        submitButton.val(oldText);
                        submitButton.removeClass("button_loading");
                        submitButton.attr("disabled", false);
                    }
                });
            }
            $('#response_single').text(message);
        });
    });

    function remove_error(id) {
        console.log(id);
        let req = null;
        req = $.ajax({
            type: 'DELETE',
            headers: {
                'Auth-Key': '{{Auth_Key}}',
                'Content-Type': 'application/json'
            },
            url: "/api/seo-errors/" + id,
            beforeSend: function () {
                if (req != null) {
                    req.abort();
                }
            },
            success: function (data) {
                alert("An error (#" + id + ") has been deleted.");
                update_table();
            },
            error: function (xhr, status, error) {
                console.log("shit's on fire yo.");
                console.log(xhr, status, error);
            }
        })
    }

    function update_table() {
        //$.fn.dataTable.moment('DD.MM.YYYY HH:mm');
        let error_list = [];
        let req = null;
        let date = new Date();
        req = $.ajax({
            cache: false,
            type: 'GET',
            headers: {
                'Auth-Key': '{{Auth_Key}}',
                'Content-Type': 'application/json',
                "cache-control": "no-cache"
            },
            url: "{{ url_for('action_seo_errors') }}",
            contentType: 'application/json',
            data: JSON.stringify({
                time: date.getTime()
            }),
            beforeSend: function () {
                if (req != null) {
                    req.abort();
                }
            },
            success: function (data) {
                data.forEach(function (element) {
                    id = element['id'];
                    error_name = element['name'];
                    error_tag = element['tag'];
                    error_attr = element['attribute'];
                    error_val = element['value'];
                    error_content = element['content'];
                    error_desc = element['description'];

                    tag_str = "<" + error_tag;
                    if (error_attr !== null && error_val !== null) {
                        tag_str += " " + error_attr + "=\"" + error_val + "\"";

                        if (error_content !== null) {
                            tag_str += " content=\"" + error_content + "\"";
                        }
                    }

                    tag_str += ">";

                    error_list.push({
                        'action': '<a class="remove-icon" onclick="remove_error(' + id + ');"><i class="fa fa-minus-circle"></i></a>',
                        'id': id,
                        'error_name': error_name,
                        'tag': escapeHtml(tag_str),
                        /*
                        'error_tag': error_tag,
                        'error_attr': error_attr,
                        'error_val': error_val,
                        'error_content': error_content,
                        */
                        'error_desc': error_desc
                    });
                })
            },
            error: function (xhr, status, error) {
                console.log("shit's on fire yo.");
                console.log(xhr, status, error);
            },
            complete: function () {
                $('#table_id').DataTable({
                    destroy: true,
                    autoWidth: true,
                    "order": [[1, "asc"]],
                    columns: [
                        {"data": "action"},
                        {"data": "id"},
                        {"data": "error_name"},
                        {"data": "tag"},
                        /*
                        {"data": "error_tag"},
                        {"data": "error_attr"},
                        {"data": "error_val"},
                        {"data": "error_content"},
                         */
                        {"data": "error_desc"},
                    ],
                    columnDefs: [
                        {className: "html-tag", targets: 3}
                    ],
                    data: error_list
                });
            }
        });
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }

    $(document).ready(update_table());
</script>
</html>