html, body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: "Helvetica Neue";
}

.header {
    font-family: "Helvetica Neue";
    overflow: hidden;
    background-color: #34495e;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    margin-right:20px;
}

.header a.logo {
    margin-left:30px;
    font-size: 25px;
    font-weight: bold;
}

.header .header-right a:hover {
    transform: scale(1.03);
}

/* Style the active/current link*/
.header a.active {
    background-color: #f6f6f6;
    color: #34495e;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

.header-username{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    margin-right:20px;
}

.page{
    height: 100%;
}
.container{
    margin: 0!important;
    min-width: 100% !important;
    display:flex;
    justify-content: center;
    background-color: whitesmoke;
    min-height: 100%;
}

.content{
    height: 100%;
    min-width: 40%;
    max-width: 40%;
    justify-content: center;
    background-color: white;
    padding:20px;
    margin-top: 10%;
    border-radius: 25px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.form-heading{
    margin-bottom: 25px;
}

.form-heading h3{
    margin-left: 15px;
    color: #999999;

}

.form-wrapper{
    min-width: 50%;
    padding: 20px 50px;
}

.form-body{
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.input-prompt, .form-prompt, label, .multiselect-selected-text{
    color: #777777;
    margin: 16px 0 3px 0!important;
    font-size: small;

}

.signup-field{
    margin-bottom: 20px;
}

.form-body form input{
    line-height: 25px;
    font-size: medium;
    border: #999999 solid 1px;
    border-radius: 4px;
    width: 100%;
}

.btn-secondary{
    margin-top:25px;
    width: 100%;
}

.form-message{
    margin-top:25px;
    font-weight: bold;
    color: #ba0000;
}

.large{
    min-width: 66.66%;
}

.analysis-choice-wrapper{
    margin-top: 50px;
}

.form-field textarea{
    width:100%;
    height: 200px;
    line-height: 25px;
    font-size: medium;
    border: #999999 solid 1px;
    border-radius: 4px;
}

.button_loading {
    background: url('ajax-loader.gif') no-repeat 50% 50%;
    background-color: #6c757d;
}