<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>SEO Helper</title>
   <meta name="description"
         content="Setup your SEO Helper account and start analysing your websites for common SEO mistakes. It's free!">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
           crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
           integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
           crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
           integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
           crossorigin="anonymous"></script>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

   <style>
      h1{
         font-size: 4rem;
         margin: 25px 0;
      }
      h2{
         font-size: 2rem;
         margin: 15px 0;
      }
      .content p{
      }
   </style>

</head>
<body>
<div class="header">
   <a href="/" class="logo">SEO Helper</a>
   <div class="header-right">
      <a href="/sign-up">Sign Up</a>
      <a href="/login">Login</a>
   </div>
</div>
<div class="page">
   <div class="container">
      <div class="content large">
         <h1>SEO Helper</h1>
         <p>
            SEO Helper will help the process of analyzing a website for common SEO mistakes and errors.
         </p>
         <br>
         <h2>What does it do?</h2>
         <p>
            SEO Helper is an analysis tool.<br><br>
            For each provided URL, we check for common SEO bad practices regarding the metadata of the website.<br>
            Each provided URL will be scanned for certain missing or duplicate HTML meta tags.<br>
            We also check for broken links referenced in this URL.<br><br>
            If certain errors are encountered in your URL, you will be notified via e-mail.
         </p>
         <br>
         <h2>How To Use</h2>
         <p>
            After you sign up to SEO Helper with your e-mail address, an API key will be connected to that e-mail address.<br>
            With this key, you will be able to use SEO Helper to analyse any given URL.
         </p>
         <div id="actions">
            <div class="index-action">
               Why don't you try out yourself?<br><a href="sign-up.html">Sign up now!</a>
            </div>
            <div class="seperator">
            </div>
            <div class="index-action">
               Have an account already?<br><a href="login.html">Login!</a>
            </div>
         </div>
   </div>
</div>
</body>
</html>