<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>SEO Helper - Login</title>
   <meta name="description"
         content="Login to your SEO Helper account and analyse your websites for common SEO mistakes!">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
           integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
           crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
           integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
           crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
           integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
           crossorigin="anonymous"></script>
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


</head>
<body>
<div class="header">
   <a href="/" class="logo">SEO Helper</a>
   <div class="header-right">
      <a href="/sign-up">Sign Up</a>
      <a class="active" href="/login">Login</a>
   </div>
</div>
<div class="page">
   <div class="container">
      <div class="content">
         <div class="form-wrapper">
            <div class="form-heading">
               <h1 style="display:inline">Login</h1>
               <h3 style="display:inline"> - Welcome back!</h3>
            </div>
            <div class="form-body">
               <form method="POST" style="width: 100%;">
                  <div class="signup-field">
                     <p class="input-prompt">E-mail:</p>
                     <input id="email" type="email" name="email">
                  </div>
                  <div class="signup-field">
                     <p class="input-prompt">Password:</p>
                     <input id="pw" type="password" name="password">
                  </div>
                  <input type="submit" class="btn btn-secondary" value="Login">
               </form>
            </div>
            <p class="form-message" id="response"></p>
         </div>
      </div>
   </div>
</div>
</body>
<script>
    $(function () {
        $('form').on('submit', function (e) {
            e.preventDefault();
            let message = "";
            let email = $('#email').val();
            let pass = $('#pw').val();
            if (email === "" || pass === "") {
                message = "All fields are mandatory."
            } else {
                message = "";
                $.ajax({
                    type: 'POST',
                    headers: {
                        'Auth-Key': '{{Auth_Key}}',
                        'Content-Type': 'application/json'
                    },
                    url: "{{ url_for('action_user_login') }}",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: email,
                        password: pass
                    }),
                    success: function (data) {
                        console.log(data['message']);
                        message = data['message'];
                        $('#response').text(message);
                        if(data.hasOwnProperty("redir-url")){
                            let redir_url = data['redir-url']
                            window.location.replace(redir_url);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("shit's on fire yo.");
                        console.log(xhr, status, error);
                        $('#response').text(message);
                    }
                });
            }
            $('#response').text(message);
        });
    });
</script>
</html>